---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div style="display: flex;">
    <div style="flex: 1; padding-right: 5px;">
        <img src="{{ site.baseurl }}/assets/logo.png" alt="Logo">
    </div>
    <div style="border-left: 1px solid gray; margin: 45px;"></div>
    <div style="flex: 1; padding-left: 10px; margin-top: 60px;">
      <p>Some Info Some Info Some Info Some Info Some Info Some Info Some Info Some Info 
        Some Info Some Info Some Info Some Info Some Info Some Info Some Info Some Info </p>
    </div>
  </div>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Recent Posts" }}</h2>
    <div class="post-list">
      {%- for post in site.posts limit: 2 offset: 1 -%}
      <div class="post-card">
        {% assign post_image_path = site.baseurl + post.image %}
        <img src="{{post_image_path}}" alt="post-image">
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </div>
      {%- endfor -%}
    </div>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
